<aside class="navbar navbar-expand-lg bg-body-tertiary vh-100 position-fixed">
    <div class="container-fluid flex-column align-items-start h-100">
      <a class="navbar-brand px-2 mb-4" href="#"><img src="/assets/images/Answer logo.svg" alt=""></a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse align-items-start" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link border-start border-4" aria-current="page" href="#"><span class="material-symbols-outlined align-bottom me-2">
                insert_chart
                </span>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-start border-4" aria-current="page" href="#"><span class="material-symbols-outlined align-bottom me-2">
                forum
                </span>Question</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-start active border-4 <%= page === 'assignment' ? 'border-success text-success ' : '' %>" href="index.html"><span class="material-symbols-outlined align-bottom me-2">
                assignment
                </span>Assignment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-start border-4" href="#"><span class="material-symbols-outlined align-bottom me-2">
                video_library
                </span>Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-start active border-4 <%= page === 'admin' ? 'border-success text-success ' : '' %>" href="admin.html"><span class="material-symbols-outlined align-bottom me-2">
                group
                </span>Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-start border-4" href="#"><span class="material-symbols-outlined align-bottom me-2">
                settings
                </span>Settings</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
      </div>
      <div class="d-flex px-2">
        <div class="flex-shrink-0">
          <img src="/assets/images/Andy Chen.jpeg" alt="AndyChen" width="48" height="48" class="rounded-circle object-fit-cover">
        </div>
        <div class="flex-grow-1 ms-3">
          <p class="fw-bold">Andy Chen</p>
          <a href="mailto:andy0401@mail.com">andy0401@mail.com</a>
        </div>
      </div>
    </div>
    
  </aside>